// Icones (doivent être placées alphabétiquement après MAINICON

TRAYICON  ICON "images\\trayicon.ico"
0         ICON "images\\getmail0.ico"
1         ICON "images\\getmail1.ico"
2         ICON "images\\getmail2.ico"
3         ICON "images\\getmail3.ico"
4         ICON "images\\getmail4.ico"
5         ICON "images\\getmail5.ico"

// general images
ACCOUNT216    RCDATA "images\\account216.png"
MAIL16        RCDATA "images\\mail16.png"
MAILSTATES    RCDATA "images\\mailstates.png"
ABOUTIMG      RCDATA "images\\mainicon32.png"


// large buttons extra glyphs
LAUNCHOUTL  RCDATA "images\\launchoutl.png"
LAUNCHTBIRD RCDATA "images\\launchthun.png"
LAUNCHGMAIL RCDATA "images\\launchgmail.png"
LAUNCHWMAIL RCDATA "images\\launchwmail.png"
LAUNCHOUTLC RCDATA "images\\launchoutlc.png"


// Menus glyphs
RESTORE16     RCDATA "images\\restore216.png"
MAXIMIZE16    RCDATA "images\\maximize216.png"
ICONIZE16     RCDATA "images\\iconize216.png"
MAILINFOS16   RCDATA "images\\mailinfos216.png"
MAILANSWER16  RCDATA "images\\mailanswer216.png"
MAILDELETE16  RCDATA "images\\maildelete216.png"
ARROWUP16     RCDATA "images\\arrowup216.png"
ARROWDN16     RCDATA "images\\arrowdn216.png"



