// Icones (doivent être placées alphabétiquement après MAINICON

MAINICON      ICON "images\\mainicon.ico"
TRAYICON      ICON "images\\trayicon.ico"
XATT0         ICON "images\\getmail0.ico"
XATT1         ICON "images\\getmail1.ico"
XATT2         ICON "images\\getmail2.ico"
XATT3         ICON "images\\getmail3.ico"
XATT4         ICON "images\\getmail4.ico"
XATT5         ICON "images\\getmail5.ico"
//ACCOUNT       RCDATA "images\\account16.png"
ACCOUNT       BITMAP "images\\account16.bmp"

// Small buttons glyphs (same name as buttons suffix)
IMPORT16      RCDATA "images\\importaccounts216.png"
FIRST16       RCDATA "images\\arrowfirst216.png"
PREV16        RCDATA "images\\arrowprev216.png"
NEXT16        RCDATA "images\\arrownext216.png"
LAST16        RCDATA "images\\arrowlast216.png"
LOG16         RCDATA "images\\log216.png"
GETALLMAIL16  RCDATA "images\\getallmail216.png"
GETACCMAIL16  RCDATA "images\\getaccmail216.png"
LAUNCHCLIENT16  RCDATA "images\\launchclient216.png"
DELETE16      RCDATA "images\\deleteaccount216.png"
ADDACC16      RCDATA "images\\addaccount216.png"
EDITACC16     RCDATA "images\\editaccount216.png"
SETTINGS16    RCDATA "images\\settings216.png"
ABOUT16       RCDATA "images\\help216.png"
CLOSE16       RCDATA "images\\close216.png"
QUIT16        RCDATA "images\\quit216.png"


//MAIL        BITMAP "images\mail.bmp"
//MAILNEW     BITMAP "images\mailnew.bmp"
//MAILATT     BITMAP "images\mailatt.bmp"
//MAILNEWATT  BITMAP "images\mailnewatt.bmp"
//MAIN        RCDATA "images\mainicon.png"
//USER        BITMAP "images\\user.bmp"
//MAILDEL     BITMAP "images\maildel.bmp"
